USE [master]
GO
/****** Object:  Database [HavalimaniX2]    Script Date: 8.06.2025 21:47:49 ******/
CREATE DATABASE [HavalimaniX2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HavalimaniX2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HavalimaniX2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HavalimaniX2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HavalimaniX2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HavalimaniX2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HavalimaniX2]
GO
/****** Object:  Table [dbo].[Havalimanlari]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Havalimanlari](
	[HavalimaniID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NULL,
	[Sehir] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HavalimaniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ucuslar]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ucuslar](
	[UcusID] [int] IDENTITY(1,1) NOT NULL,
	[UcusNo] [nvarchar](20) NOT NULL,
	[UcakID] [int] NULL,
	[KalkisHavalimaniID] [int] NULL,
	[VarisHavalimaniID] [int] NULL,
	[KalkisZamani] [datetime] NULL,
	[VarisZamani] [datetime] NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UcusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yolcular]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yolcular](
	[YolcuID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NULL,
	[Soyad] [nvarchar](100) NULL,
	[TCNo] [nvarchar](11) NULL,
	[Telefon] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[YolcuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biletler]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biletler](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[YolcuID] [int] NULL,
	[UcusID] [int] NULL,
	[KoltukNo] [nvarchar](10) NULL,
	[SatinAlmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_YolcuUcusBilgisi]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Yolcu uçuş bilgilerini gösteren view
CREATE VIEW [dbo].[Vw_YolcuUcusBilgisi] AS
SELECT 
    y.Ad + ' ' + y.Soyad AS YolcuAdi,
    b.BiletID,
    hu.Ad AS KalkisHavalimani,
    hv.Ad AS VarisHavalimani,
    u.KalkisZamani,
    u.VarisZamani,
    b.KoltukNo
FROM 
    Biletler b
JOIN Yolcular y ON b.YolcuID = y.YolcuID
JOIN Ucuslar u ON b.UcusID = u.UcusID
JOIN Havalimanlari hu ON u.KalkisHavalimaniID = hu.HavalimaniID
JOIN Havalimanlari hv ON u.VarisHavalimaniID = hv.HavalimaniID;
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Parola] [nvarchar](50) NULL,
	[Gorev] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ucaklar]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ucaklar](
	[UcakID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](100) NULL,
	[Kapasite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UcakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YolcuSilmeLog]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YolcuSilmeLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[YolcuID] [int] NULL,
	[AdSoyad] [nvarchar](200) NULL,
	[SilmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Biletler] ON 

INSERT [dbo].[Biletler] ([BiletID], [YolcuID], [UcusID], [KoltukNo], [SatinAlmaTarihi]) VALUES (4, 3, 19, N'01', CAST(N'2025-06-03T11:24:07.710' AS DateTime))
INSERT [dbo].[Biletler] ([BiletID], [YolcuID], [UcusID], [KoltukNo], [SatinAlmaTarihi]) VALUES (5, 1, 17, N'02', CAST(N'2025-06-03T11:24:46.047' AS DateTime))
INSERT [dbo].[Biletler] ([BiletID], [YolcuID], [UcusID], [KoltukNo], [SatinAlmaTarihi]) VALUES (6, 1, 19, N'06', CAST(N'2025-06-03T11:29:04.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[Biletler] OFF
GO
SET IDENTITY_INSERT [dbo].[Havalimanlari] ON 

INSERT [dbo].[Havalimanlari] ([HavalimaniID], [Ad], [Sehir]) VALUES (1, N'Antalya Havalimanı', N'Antalya')
INSERT [dbo].[Havalimanlari] ([HavalimaniID], [Ad], [Sehir]) VALUES (2, N'İstanbul Havalimanı', N'İstanbul')
INSERT [dbo].[Havalimanlari] ([HavalimaniID], [Ad], [Sehir]) VALUES (3, N'Berlin Havalimanı', N'Berlin')
SET IDENTITY_INSERT [dbo].[Havalimanlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([PersonelID], [KullaniciAdi], [Parola], [Gorev]) VALUES (1, N'oguzhanbckc', N'545964', N'Yönetici')
INSERT [dbo].[Personel] ([PersonelID], [KullaniciAdi], [Parola], [Gorev]) VALUES (2, N'ahmetbckc', N'123456', N'Uçuş Personeli')
INSERT [dbo].[Personel] ([PersonelID], [KullaniciAdi], [Parola], [Gorev]) VALUES (3, N'aleynabckc', N'654321', N'Destek')
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
SET IDENTITY_INSERT [dbo].[Ucaklar] ON 

INSERT [dbo].[Ucaklar] ([UcakID], [Model], [Kapasite]) VALUES (1, N'Airbus1', 50)
INSERT [dbo].[Ucaklar] ([UcakID], [Model], [Kapasite]) VALUES (2, N'Boeing2', 75)
INSERT [dbo].[Ucaklar] ([UcakID], [Model], [Kapasite]) VALUES (3, N'Fokker ', 50)
SET IDENTITY_INSERT [dbo].[Ucaklar] OFF
GO
SET IDENTITY_INSERT [dbo].[Ucuslar] ON 

INSERT [dbo].[Ucuslar] ([UcusID], [UcusNo], [UcakID], [KalkisHavalimaniID], [VarisHavalimaniID], [KalkisZamani], [VarisZamani], [Durum]) VALUES (17, N'TR0000', 1, 1, 1, CAST(N'2025-06-02T14:33:27.320' AS DateTime), CAST(N'2025-06-04T14:33:27.000' AS DateTime), 1)
INSERT [dbo].[Ucuslar] ([UcusID], [UcusNo], [UcakID], [KalkisHavalimaniID], [VarisHavalimaniID], [KalkisZamani], [VarisZamani], [Durum]) VALUES (19, N'TR0002', 1, 1, 1, CAST(N'2025-06-02T16:04:26.660' AS DateTime), CAST(N'2025-06-02T16:04:26.643' AS DateTime), 1)
INSERT [dbo].[Ucuslar] ([UcusID], [UcusNo], [UcakID], [KalkisHavalimaniID], [VarisHavalimaniID], [KalkisZamani], [VarisZamani], [Durum]) VALUES (20, N'TR0003', 3, 3, 1, CAST(N'2025-06-04T09:20:12.933' AS DateTime), CAST(N'2025-06-13T09:20:12.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Ucuslar] OFF
GO
SET IDENTITY_INSERT [dbo].[Yolcular] ON 

INSERT [dbo].[Yolcular] ([YolcuID], [Ad], [Soyad], [TCNo], [Telefon]) VALUES (1, N'Oğuzhan', N'Bıçakcı', N'20968325588', N'5431560705')
INSERT [dbo].[Yolcular] ([YolcuID], [Ad], [Soyad], [TCNo], [Telefon]) VALUES (3, N'Ahmet', N'BIÇAKCI', N'11223344556', N'5521460707')
INSERT [dbo].[Yolcular] ([YolcuID], [Ad], [Soyad], [TCNo], [Telefon]) VALUES (6, N'Halil İbrahim', N'Tosya', N'13467946312', N'9876540103')
SET IDENTITY_INSERT [dbo].[Yolcular] OFF
GO
SET IDENTITY_INSERT [dbo].[YolcuSilmeLog] ON 

INSERT [dbo].[YolcuSilmeLog] ([LogID], [YolcuID], [AdSoyad], [SilmeTarihi]) VALUES (1, 2, N'Ayşegül ARISOY', CAST(N'2025-06-02T15:36:07.310' AS DateTime))
INSERT [dbo].[YolcuSilmeLog] ([LogID], [YolcuID], [AdSoyad], [SilmeTarihi]) VALUES (2, 4, N'Fatma Duman', CAST(N'2025-06-03T11:27:45.313' AS DateTime))
INSERT [dbo].[YolcuSilmeLog] ([LogID], [YolcuID], [AdSoyad], [SilmeTarihi]) VALUES (3, 5, N'BIÇAKCI OĞUZHAN', CAST(N'2025-06-03T16:28:18.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[YolcuSilmeLog] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ucuslar__A048EFE92E73882B]    Script Date: 8.06.2025 21:47:49 ******/
ALTER TABLE [dbo].[Ucuslar] ADD UNIQUE NONCLUSTERED 
(
	[UcusNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD FOREIGN KEY([UcusID])
REFERENCES [dbo].[Ucuslar] ([UcusID])
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD FOREIGN KEY([YolcuID])
REFERENCES [dbo].[Yolcular] ([YolcuID])
GO
ALTER TABLE [dbo].[Ucuslar]  WITH CHECK ADD FOREIGN KEY([KalkisHavalimaniID])
REFERENCES [dbo].[Havalimanlari] ([HavalimaniID])
GO
ALTER TABLE [dbo].[Ucuslar]  WITH CHECK ADD FOREIGN KEY([UcakID])
REFERENCES [dbo].[Ucaklar] ([UcakID])
GO
ALTER TABLE [dbo].[Ucuslar]  WITH CHECK ADD FOREIGN KEY([VarisHavalimaniID])
REFERENCES [dbo].[Havalimanlari] ([HavalimaniID])
GO
/****** Object:  StoredProcedure [dbo].[sp_UcuslariListele]    Script Date: 8.06.2025 21:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Kalkış havalimanına göre uçuşları listeleyen prosedür
CREATE PROCEDURE [dbo].[sp_UcuslariListele]
    @KalkisHavalimaniID INT
AS
BEGIN
    SELECT 
        u.UcusID,
        u.UcusNo,
        hu.Ad AS KalkisHavalimani,
        hv.Ad AS VarisHavalimani,
        uk.Model AS UcakModeli,
        u.KalkisZamani,
        u.VarisZamani,
        u.Durum
    FROM 
        Ucuslar u
    JOIN Havalimanlari hu ON u.KalkisHavalimaniID = hu.HavalimaniID
    JOIN Havalimanlari hv ON u.VarisHavalimaniID = hv.HavalimaniID
    JOIN Ucaklar uk ON u.UcakID = uk.UcakID
    WHERE u.KalkisHavalimaniID = @KalkisHavalimaniID;
END;
GO
USE [master]
GO
